<header class="bg-white">
  <div class="container mx-auto p-6">
    <div class="text-center">
    </div>
  </div>
</header>

<main class="mt-4">
    <div class="container mx-auto p-6">
      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 lg:col-span-6 text-center lg:text-left">
          <h1 class="text-5xl font-bold text-red-400">
            <span>Imdb Clone</span>
          </h1>
          <h6 class="font-bold font-mono text-uppercase text-gray-400 mt-2">
            <span>THE NEXT-GEN. MOVIE PLATFORM</span>
          </h6>
          <br>
          <button mat-flat-button color="primary" routerLink="./admin">
            <span>Login</span>
            <i class="fas fa-arrow-circle-right ml-5"></i>
          </button>
          <hr class="bg-gray-500 my-4 border-gray-200" />
          
          <app-movies></app-movies>
        </div>
      </div>
    </div>
</main>

<footer class="py-5">
  <div class="container text-center">
    <p class="small mb-0 font-bold text-gray-500"><i class="fad fa-copyright"></i> Imdb Clone &nbsp; - &nbsp; All rights
      reserved</p>
  </div>
</footer>