<app-form header="Movie"
          [new]="new"
          [loading]="loading"
          [formValid]="formElement.valid"
          (form)="(form)"
          (cancel)="onClose()"
          (create)="onCreate()"
          >
          <!-- onUpdate deleted tempo -->
    <form #formElement="ngForm">
        <fieldset [disabled]="loading">
            <div class="grid grid-flow-row">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput
                           required
                           name="firstName"
                           [(ngModel)]="form.firstName" 
                           [ngModelOptions]="{standalone: true}"/>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput
                              name="lastName"
                              rows="3"
                              [(ngModel)]="form.lastName"
                              [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput
                           [matDatepicker]="picker"
                           [(ngModel)]="form.birthDate"
                           [ngModelOptions]="{standalone: true}">
                    <mat-datepicker-toggle matSuffix
                                           [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-radio-group [(ngModel)]="form.gender" [ngModelOptions]="{standalone: true}" aria-label="Select an option">
                    <mat-radio-button value="0">Male</mat-radio-button>&nbsp;
                    <mat-radio-button value="1">Female</mat-radio-button>
                </mat-radio-group>  
                <br>
                
                <mat-form-field appearance="outline">
                    <mat-label>Bio</mat-label>
                    <textarea matInput
                              name="bio"
                              rows="3"
                              [(ngModel)]="form.bio"
                              [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Acting Score</mat-label>
                    <input matInput
                           required
                           name="actingScore"
                           [(ngModel)]="form.actingScore" 
                           [ngModelOptions]="{standalone: true}"/>
                </mat-form-field>
            </div>
        </fieldset>
    </form>
</app-form>